site_name: MiSTer FPGA Documentation
site_url: https://docs.misterfpga.org/
site_author: Kevin Coleman
site_description: >-
  MiSTer FPGA is an open project that aims to recreate various
  classic computers, game consoles, and arcade machines, using
  modern hardware.

repo_name: MkDocs_MiSTer
repo_url: https://github.com/birdybro/MkDocs_MiSTer/
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2022 MiSTer FPGA

theme:
  name: material
  favicon: assets/favicon.ico
  logo: assets/mister_kun_bw.svg
  font:
    text: Roboto
    code: Source Code Pro
  features:
  # Highlight search terms when user searches for things
    - search.highlight
  # Offer most likely search result as a suggestion
    - search.suggest
  # Update url with the active anchor as highlighted in ToC
    - navigation.tracking
  # Future use for announcement hook to put latest news here, like latest core updates, etc...
  custom_dir: overrides
  
plugins:
# Explicitly call out search ahead of time, because if you use other plugins this has to be done.
  - search:
      lang: en
  - minify:
      minify_html: true
  - mkdocs-video
  - git-revision-date-localized

# Customization
extra:
  homepage: https://docs.misterfpga.org
# Placeholder for analytics configuration, modify value and uncomment when ready
  # analytics:
  #   provider: google
  #   property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: twitter
      link: https://twitter.com/MiSTerFPGABot/
    - icon: discord
      link: https://discord.com/invite/misterfpga/
    - icon: github
      link: https://github.com/MiSTer-devel/
    
nav:
  - Home: index.md

  - First-time Setup:
    - Requirements: setup/requirements.md
    - Setup MicroSD Card: setup/software.md
    - Running the Updater: setup/updater.md
    - Define Your Gamepad: setup/controller.md
    - Transferring Games: setup/games.md
    - Play a Game: setup/play.md

  - The Basics:
    - WiFi: basics/wifi.md
    - Controllers: basics/input.md
    - Bluetooth: basics/bluetooth.md
    - Hotkeys: basics/hotkey.md
    - Video Configuration: basics/video.md

  - Cores:
    - What Is a Core: cores/what.md
    - Console:
      - SNES: cores/console/snes.md
      - NES: cores/console/nes.md
      - Genesis: cores/console/genesis.md
      - TurboGrafx-16: cores/console/tgfx16.md
      - Atari 7800: cores/console/atari7800.md
      - Game Boy 2 Player: cores/console/gb2p.md
    - Computer:
      - Laser 310: cores/computer/laser.md
      - Jupiter Ace: cores/computer/ace.md
    - Arcade:
      - Atari Subs:

  - Tweaking and Advanced Configuration:
    - Networking:
      - Setting Up SSH, FTP, and NAS: advanced/network.md
      - Computer Core Networking: advanced/computer.md
    - Video:
      - Video Filters: advanced/video.md
      - Using Your CRT With MiSTer: advanced/crt.md
    - Audio Filters: advanced/audio.md
    - Global INI Settings: advanced/global.md
    - Cheat Engine: advanced/cheats.md

  - MiSTer Developer Reference:
    - Core Configuration String: developer/conf_str.md
    - Good Luck!: developer/goodluck.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
